<template>
    <div>
        <div class="filter-container">
            <div class="columns filters">
                <div class="column is-one-fourth">
                    <div class="field">
                        <label class="label">{{ trans('filter.category') }}</label>
                        <div class="control">
                            <div class="dropdown dd-wide">
                                <div class="dropdown-trigger dd-wide">
                                    <button class="button btn-dropdown btn-dropdown-date dd-wide button-sb" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span class="selected-value" id="dd-cat">{{ trans('filter.category') }}</span>
                                        <span class="icon is-small icon-dropdown">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-categories-menu" role="menu">
                                    <div class="dropdown-content">
                                        <a class="dropdown-item dropdown-category-item" @click="categorySelected($event)">{{ trans('filter.all') }}</a>
                                        <a class="dropdown-item dropdown-category-item" @click="categorySelected($event)" v-for="category in categories">{{ category.name }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-fourth working_hours_filter_container">
                    <label class="label">{{ trans('filter.working_hours') }}</label>
                    <div class="columns">
                        <div class="column is-half no-padding">
                            <div class="field">
                                <div class="label">
                                    <div class="control">
                                        <input class="input filter-input filter-input-left" name="working_from" id="working_from" type="text" :placeholder="trans('filter.from')" @change="workingFromChanged($event)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-half no-padding">
                            <div class="field">
                                <div class="label">
                                    <div class="control">
                                        <input class="input filter-input filter-input-right" name="working_to" id="working_to" type="text" :placeholder="trans('filter.to')" @change="workingToChanged($event)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-one-fourth">
                    <div class="field">
                        <label class="label">{{ trans('filter.months') }}</label>
                        <div class="control">
                            <div class="dropdown dd-wide months-dropdown">
                                <div class="dropdown-trigger dd-wide">
                                    <button class="button btn-dropdown btn-dropdown-date dd-wide button-sb" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span class="selected-value" id="dd-month">{{ trans('filter.month') }}</span>
                                        <span class="icon is-small icon-dropdown">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-months-menu" role="menu">
                                    <div class="dropdown-content">
                                        <a class="dropdown-item dropdown-month-item" @click="monthSelected($event)">{{ trans('filter.all') }}</a>
                                        <a class="dropdown-item dropdown-month-item" @click="monthSelected($event)" v-for="month in months">
                                            {{ month.name }}
                                            <i class="month-checkbox fa" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-one-fourth">
                    <div class="field">
                        <label class="label">{{ trans('filter.language') }}</label>
                        <div class="control">
                            <div class="dropdown dd-wide">
                                <div class="dropdown-trigger dd-wide">
                                    <button class="button btn-dropdown btn-dropdown-date dd-wide button-sb" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span class="selected-value" id="dd-lang">{{ trans('filter.language') }}</span>
                                        <span class="icon is-small icon-dropdown">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-languages-menu" role="menu">
                                    <div class="dropdown-content">
                                        <a class="dropdown-item" @click="languageSelected($event)">{{ trans('filter.all') }}</a>
                                        <a class="dropdown-item" @click="languageSelected($event)" v-for="language in languages">{{ language.name }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <LocationComponent :locations="locations"></LocationComponent>
    </div>
</template>

<style lang="scss">
    .selected-month {
        background-color: whitesmoke;
        color: #0a0a0a;
    }

    .month-checkbox {
        position: absolute;
        right: 10px;
    }
</style>

<script>
    import LocationComponent from "./LocationComponent.vue";
    import trans from '../trans';

    export default {
        name: 'FilterComponent',

        components: {LocationComponent},

        data() {
            return {
                locations: [],
                languages: [],
                categories: [],
                months: [],
                selectedMonthsArr: [],
                category: '*',
                working_from: '*',
                working_to: '*',
                language: '*',
                cat: ''
            }
        },

        beforeMount() {
            this.getCategories();
            this.getLanguages();
            this.getMonths();
            this.getLocations();
        },

        methods: {
            getCategories() {
                axios.post('/categories/json').then(data => {
                    let json = data.request.response;
                    this.categories = JSON.parse(json);
                }).catch(function (error) {
                    console.error(error);
                });
            },

            getLanguages() {
                axios.post('/languages/json').then(data => {
                    let json = data.request.response;
                    this.languages = JSON.parse(json);
                }).catch(function (error) {
                    console.error(error);
                });
            },

            getLocations() {
                axios.post('/locations/json', this.filterData).then(data => {
                    let json = data.request.response;
                    this.locations = JSON.parse(json);
                }).catch(function (error) {
                    console.error(error);
                });
            },

            getMonths() {
                axios.post('/months/json').then(data => {
                    let json = data.request.response;
                    this.months = JSON.parse(json);
                }).catch(function (error) {
                    console.error(error);
                });
            },

            categorySelected(event) {
                let target = $(event.target);
                let selectedCategory = target.text();

                if (selectedCategory === 'All' || selectedCategory === 'ყველა') {
                    this.category = '*';
                } else {
                    this.category = selectedCategory;
                }

                target.closest('.dropdown').find('.selected-value').text(selectedCategory);

                this.getLocations();
            },

            languageSelected(event) {
                let target = $(event.target);
                let selectedLanguage = target.text();

                if (selectedLanguage === 'All' || selectedLanguage === 'ყველა') {
                    this.language = '*';
                } else {
                    this.language = selectedLanguage;
                }

                target.closest('.dropdown').find('.selected-value').text(selectedLanguage);

                this.getLocations();
            },

            monthSelected(event) {
                let target = $(event.target);
                let selectedMonths = target.text().replace(/\s/g, '');

                if (!target.hasClass('selected-month')) {
                    target.addClass('selected-month');

                    if (selectedMonths === 'All' || selectedMonths === 'ყველა') {
                        $('.month-checkbox').addClass('fa-check');
                        $('.dropdown-month-item').addClass('selected-month');

                        this.selectedMonthsArr = [];
                        let that = this;
                        
                        $.each($('.dropdown-month-item'), function (key, value) {
                            let val = $(value).text().replace(/\s/g, '');
                            that.selectedMonthsArr.push(val);
                        });

                        this.selectedMonthsArr.splice(0, 1);
                    } else {
                        target.find('.month-checkbox').addClass('fa-check');
                        if (!this.selectedMonthsArr.includes(selectedMonths)) {
                            this.selectedMonthsArr.push(selectedMonths);
                        }
                    }
                } else {
                    target.removeClass('selected-month');

                    if (selectedMonths === 'All' || selectedMonths === 'ყველა') {
                        $('.month-checkbox').removeClass('fa-check');
                        $('.dropdown-month-item').removeClass('selected-month');
                        this.selectedMonthsArr = [];
                    } else {
                        target.find('.month-checkbox').removeClass('fa-check');
                        let monthIndex = this.selectedMonthsArr.indexOf(selectedMonths);

                        if (monthIndex > -1) {
                            this.selectedMonthsArr.splice(monthIndex, 1);
                        }
                    }
                }
//                console.log(this.selectedMonthsArr);
                target.closest('.dropdown').find('.selected-value').text(this.selectedMonthsArr[0] + ' ...');
                this.getLocations();
            },

            workingFromChanged(event) {
                let target = $(event.target);
                let value = target.val();

                if (value.replace(/\s+/g, '').length === 0) {
                    this.working_from = '*';
                } else {
                    this.working_from = value;
                }

                this.getLocations();
            },

            workingToChanged() {
                let target = $(event.target);
                let value = target.val();

                if (value.replace(/\s+/g, '').length === 0) {
                    this.working_to = '*';
                } else {
                    this.working_to = value;
                }

                this.getLocations();
            }
        },

        computed: {
            filterData() {
                return {
                    category: this.category,
                    working_from: this.working_from,
                    working_to: this.working_to,
                    language: this.language,
                    months: this.selectedMonthsArr
                }
            }
        }
    }
</script>
