<template>
    <div class="location-container">
        <p class="location-name" v-if="location.name">{{ location.name }}</p>
        <p class="location-category" v-if="location.category.name">{{ location.category.name }}</p>

        <div class="location-images-container" v-if="location.thumbnail != null">
            <div class="columns">
                <div class="column is-two-thirds main-images-column">
                    <a :href="location.thumbnail.url" data-fancybox="images" data-width="1500" data-height="1000" class="full-location-main-image-slideshop">
                        <div class="location-main-image" :style="{ backgroundImage: `url('${location.thumbnail.url}')` }"></div>
                    </a>

                    <a v-if="location.images != null" v-for="image in location.images" :href="image.url" data-fancybox="images"></a>
                    <!--<a v-if="location.youtube_video != null" href="javascript:;" data-fancybox="images" :data-src="location.youtube_video"></a>-->
                </div>
                <div class="column is-one-third thumbnails-column" v-if="location.images != null">
                    <div id="images-ps-container" class="columns block-container">
                        <div v-for="image in location.images" class="is-half location-image-container" style="width: 49%;">
                            <div class="location-image res-images-container" :style="{ backgroundImage: `url('${image.url}')` }"></div>

                            <div class="location-image full-location-image-con" :style="{ backgroundImage: `url('${image.url}')` }"></div>
                        </div>
                        <!--<div v-if="location.youtube_video != null" class="is-half location-image-container" style="width: 49%;">-->
                            <!--<a href="javascript:;" data-fancybox="images" :data-src="location.youtube_video">-->
                                <!--<div class="location-video" :style="{ backgroundImage: `url('${default_video_thumbnail}')` }"></div>-->
                            <!--</a>-->
                        <!--</div>-->
                    </div>

                    <div id="images-ps-container-mobile" class="columns block-container">
                        <div v-for="image in location.images" class="is-half location-image-container" style="width: 49%;">
                            <div class="location-image res-images-container" :style="{ backgroundImage: `url('${image.url}')` }"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="location-images-container" v-else>
            <div class="columns">
                <div class="column is-two-thirds">
                    <div class="location-main-image" :style="{ backgroundImage: `url('${default_thumbnail}')` }"></div>
                </div>
            </div>
        </div>

        <div class="location-content-container">
            <div v-if="location.working_from || location.working_to" class="location-working-hours">
                <div class="wh-container">
                    <span class="wh">{{ trans('information.working_hours') }}</span>
                </div>
                <span class="wh-content">{{ workingHours() }}</span>
                <div class="extra-cat extra-r wh-e" :style="{ backgroundColor: `${location.sticker.color}` }">
                    <span class="extra-cat-content">{{ location.sticker.content }}</span>
                </div>
            </div>

            <div v-if="location.description" class="location-description">
                <div class="location-desc-container">
                    <span class="desc">{{ trans('information.description') }}</span>
                </div>
                <span class="desc-content description-content">
                <div class="desc-span-container" id="desc-span-container">
                    <span v-if="locale.locale === 'ka'" class="dejavusans" v-html="location.description"></span>
                    <span v-else v-html="location.description"></span>
                </div>
                <p class="location-read-more" @click="expandDescContainer($event)">More</p>
            </span>
            </div>

            <div class="location-description" v-if="location.additional_services">
                <div class="location-desc-container">
                    <span class="desc">{{ trans('information.additional_services') }}</span>
                </div>
                <span class="desc-content additional-services-content">
                <div class="additional-services-span-container" id="additional-services-span-container">
                    <span v-if="locale.locale === 'ka'" class="dejavusans" v-html="location.additional_services"></span>
                    <span v-else v-html="location.additional_services"></span>
                </div>
                <p class="location-read-more" @click="expandAdditionalServicesContainer($event)">More</p>
            </span>
            </div>

            <div class="location-contact" v-if="location.email || location.mnumber || location.address || location.facebook_page">
                <div class="location-contact-container">
                    <span class="contact">{{ trans('information.contact') }}</span>
                </div>

                <span class="contact-content hidden">
                    <p class="lang contact-hidden location-email" v-if="location.email">{{ trans('information.email') }}: {{ location.email }}</p>

                    <p class="lang contact-hidden location-mnumber" v-if="location.mnumber">{{ trans('information.tel') }}: {{ location.mnumber }}</p>

                    <p class="lang contact-hidden location-latitude" v-if="location.address">{{ trans('information.address') }}: {{ location.address }}</p>

                    <p class="lang contact-hidden location-latitude" v-if="location.facebook_page">
                        Facebook: <a :href="location.facebook_page" class="location-facebook-page" target="_blank">Page</a>
                    </p>
                    <p class="showContact">
                        <a href="#contact" @click="showContact($event, location.name ? location.name : '')">{{ trans('information.show') }}</a>
                    </p>
                </span>
            </div>

            <div class="location-communication-languages" v-if="location.languages != ''">
                <div class="location-contact-container">
                    <span class="contact">{{ trans('information.languages') }}</span>
                </div>

                <span class="languages-content">
                    <p class="lang" v-for="language in location.languages">{{ language.name }}</p>
                </span>
            </div>

            <div v-if="location.youtube_video" class="location-working-hours">
                <div class="wh-container">
                    <span class="wh">{{ trans('information.youtube_video') }}</span>
                </div>
                <span class="wh-content youtube-video-content">
                    <a v-if="location.youtube_video != null" href="javascript:;" data-fancybox="images" :data-src="location.youtube_video">
                        <div class="youtube-video-thumbnail" :style="{ backgroundImage: `url('${getThumb(location.youtube_video, 'big')}')` }">
                            <img :src="default_video_thumbnail" />
                        </div>
                    </a>
                </span>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    .ps__rail-y {
        opacity: .6;
    }

    .location-image {
        background: transparent no-repeat;
    }

    .location-main-image {
        background: transparent no-repeat;
        -webkit-background-size: contain !important;
        background-size: contain !important;
        background-position: center;
    }

    .location-main-image:focus {
        outline: none;
    }

    .location-video {
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .location-facebook-page {
        color: #7888b1;
        text-decoration: none;
    }

    .description-content, .additional-services-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .desc-span-container {
        height: 70px;
        overflow-y: hidden;
    }

    .desc-span-container-active {
        height: 100%;
    }

    .additional-services-span-container {
        height: 70px;
        overflow-y: hidden;
    }

    .additional-services-span-container-active {
        height: 100%;
    }

    .dejavusans {
        font-family: DejaVuSans;
    }

    #images-ps-container-mobile {
        margin-bottom: 20px;
    }

    .contact-hidden {
        display: none;
    }

    .showContact {
        a {
            font-family: SFTextRegular;
            color: #7888b1;
        }
    }

    .youtube-video-thumbnail {
        height: 300px;
        background: transparent no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;

        img {
            width: 60px;
            height: 35px;
            margin: auto 0;
        }
    }
</style>

<script>
    import PerfectScrollbar from 'perfect-scrollbar'
    import VueLoading from 'vue-simple-loading'
    import Slick from 'slick-carousel'
    import clamp from 'clamp-js';

    export default {
        name: 'FullLocationComponent',

        props: [
            'location',
            'locale'
        ],

        data() {
            return {
                descriptionShown: false,
                default_thumbnail: window.location.protocol + '//' + window.location.host + '/assets/img/default.jpg',
                default_video_thumbnail: window.location.protocol + '//' + window.location.host + '/assets/img/video.png'
            }
        },

        mounted() {
            this.initScrollBar();
            this.initSlick();
            this.setTitle();
        },

        components: {
            VueLoading
        },

        methods: {
            initScrollBar() {
                const container = document.querySelector('#images-ps-container');
                const ps = new PerfectScrollbar(container);
            },

            initSlick() {
                $('#images-ps-container-mobile').slick({
                    'dots': true,
                    'prevArrow': false,
                    'nextArrow': false
                });
            },

            setTitle() {
                document.title = (this.location.name) ? this.location.name + ' - Kazbegi Experience' : 'Map - Kazbegi Experience';
            },

            workingHours() {
                return this.location.working_from + ' - ' + this.location.working_to;
            },

            expandDescContainer(event) {
                let container = $('#desc-span-container');
                let target = $(event.target);

                container.toggleClass('desc-span-container-active');

                if (target.text() === 'More') {
                    target.text('Hide');
                } else {
                    target.text('More');
                }
            },

            expandAdditionalServicesContainer(event) {
                let container = $('#additional-services-span-container');
                let target = $(event.target);

                container.toggleClass('additional-services-span-container-active');

                if (target.text() === 'More') {
                    target.text('Hide');
                } else {
                    target.text('More');
                }
            },

            showContact(event, locationName = '') {
                let target = $(event.target);

                $('.contact-hidden').css({
                    'display': 'block'
                });

                target.css({
                    'display': 'none'
                });

                this.trackEvent(locationName);
            },

            trackEvent(locationName) {
                ga('send', {
                    hitType: 'event',
                    eventCategory: 'Contact',
                    eventAction: 'show',
                    eventLabel: locationName
                });
            },

            getThumb(url, size) {
                let video;
                let results;

                if (url === null) return '';

                size = (size === null) ? 'big' : 'size';
                results = url.match('[\\?&]v=([^&#]*)');
                video = (results === null) ? url : results[1];

                if (size === 'small') {
                    return 'https://img.youtube.com/vi/' + video + '/2.jpg';
                }

                return 'https://img.youtube.com/vi/' + video + '/0.jpg';
            }
        }
    }
</script>