<template>
    <div class="content-container" id="locations-container">
        <div class="place" v-for="location in locations">
            <a :href="url + location.id">
                <div class="thumbnail" v-if="location.thumbnail" :style="{ backgroundImage: `url('${location.thumbnail.url}')` }"></div>
                <div class="thumbnail" v-else :style="{ backgroundImage: `url('${default_thumbnail}')` }"></div>
            </a>
            <div class="place-title">
                <span class="title-sm">{{ location.name }}</span>
            </div>

            <div class="place-description">
                <span class="desc-sm">{{ location.description }}</span>
            </div>

            <div class="place-extra-info">
                <div class="columns">
                    <div class="column is-half no-padding">
                        <span class="extra-sm">{{ trans('information.working_hours') }}: <p>{{ location.working_from }} - {{ location.working_to }}</p></span>
                    </div>

                    <div class="column is-half no-padding">
                        <div class="extra-cat extra-y" :style="{ backgroundColor: `${location.sticker.color}` }">
                            <span class="extra-cat-content">{{ location.sticker.content }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    .thumbnail {
        background: transparent no-repeat;
        background-size: cover;
        height: 250px;
    }
</style>

<script>
    import clamp from 'clamp-js';

    export default {
        name: 'LocationComponent',

        data() {
            return {
                url: window.location.protocol + '//' + window.location.host + '/location/',
                default_thumbnail: window.location.protocol + '//' + window.location.host + '/assets/img/default.jpg'
            }
        },

        props: [ 'locations' ],

        updated() {
            this.initClamp();
        },

        methods: {
            initClamp() {
                let descriptions = document.querySelectorAll('.desc-sm');

                [].forEach.call(descriptions, function(element, index) {
                    clamp(element, {
                        clamp: 3,
                        useNativeClamp: false
                    });
                });
            }
        }
    }
</script>
