<template>
    <div id="map" class="map"></div>
</template>

<script>
    export default {
        name: 'MapComponent',

        data() {
            return {
                coordinates: [],
                map: '',
                element: '',
                options: {  },
            }
        },

        mounted() {
            this.element = document.getElementById('map');
            const centerLocation = { lat: 42.7380264, lng: 44.6271956 };
            this.options = {
                zoom: 15,
                center: centerLocation,
                styles: [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}],
                disableDefaultUI: true
            };

            this.loadMap();
            this.getCoordinates();
        },

        methods: {
            loadMap() {
                this.map = new google.maps.Map(this.element, this.options);
            },

            getCoordinates() {
                axios.post('/locations/location/coordinates').then(data => {
                    let json = data.request.response;
                    this.coordinates = JSON.parse(json);
                    this.placeMarkers();
                }).catch(function (error) {
                    console.error(error);
                });
            },

            placeMarkers() {
                let shape = {
                    coord: [1, 1, 1, 20, 18, 20, 18 , 1],
                    type: 'poly'
                };

                for (let i = 0; i < this.coordinates.length; i++) {
                    let place = this.coordinates[i];
                    let myLatLng = new google.maps.LatLng(place.latitude, place.longitude);
                    let marker = new google.maps.Marker({
                        position: myLatLng,
                        map: this.map,
                        shape: shape,
                        title: place.name
                    });

                    let infowindow = new google.maps.InfoWindow();

                    google.maps.event.addListener(marker, "click", function() {
                        infowindow.setContent(this.get('title'));
                        infowindow.open(this.map, this);
                    });
                }
            }
        }
    }
</script>