@font-face {
  font-family: 'SFTextBold';
  src: url("/../assets/fonts/SanFranciscoText-Bold.otf");
}

@font-face {
  font-family: 'SFTextRegular';
  src: url("/../assets/fonts/SanFranciscoText-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFTextLight';
  src: url("/../assets/fonts/SanFranciscoText-Light.otf");
}

@font-face {
  font-family: 'DejaVuSans';
  src: url("/../assets/fonts/DejaVuSans.ttf");
}

html {
  min-height: 100%;
}

body {
  background: url("/../assets/img/background.png") no-repeat center;
  background-size: cover;
  min-height: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  height: 90px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-container {
  cursor: pointer;
  background: url("/../assets/img/logo.png") no-repeat center;
  background-size: auto;
  width: 90px;
  height: 90px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% + 90px);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social {
  width: 50%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social-item {
  position: relative;
  top: 40%;
  margin: 0 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.selected-language {
  text-align: center;
  font-family: DejaVuSans;
}

.language {
  position: relative;
  top: 35%;
  margin: 0 10px;
  width: 70px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  color: white;
}

.social-item:hover {
  -webkit-transform: scale(1.5, 1.3);
  transform: scale(1.5, 1.3);
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 6%;
  height: 120px;
}

.heading-text {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-size: 3.2rem;
}

.heading-bold {
  font-family: SFTextBold;
}

.heading-regular {
  font-family: SFTextRegular;
}

.description {
  color: white;
  font-family: SFTextLight;
  font-size: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.description-content {
  max-width: 700px;
  line-height: 1.8;
  font-size: .8rem;
  font-family: DejaVuSans;
}

.footer {
  height: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 3%;
}

.footer-content {
  background: url("/../assets/img/download.png") no-repeat center;
  height: 45px;
  background-size: contain;
  cursor: pointer;
}

@media all and (max-width: 1366px) {
  .heading {
    margin-top: 0;
  }

  .description-content {
    max-width: 680px;
  }
}

@media all and (max-width: 1024px) {
  .logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer {
    margin-bottom: 5%;
  }
}

@media all and (max-width: 320px) {
  .container {
    width: 95%;
  }

  .navbar {
    margin-top: 20px;
  }

  .logo-container {
    width: 70px;
    height: 70px;
    background-size: contain;
  }

  .description {
    width: 100%;
  }

  .description .description-content {
    width: 100%;
    font-size: .75rem;
  }

  .social-item {
    top: 30%;
  }

  .language {
    top: 30%;
  }

  .heading {
    margin-top: -35px;
  }

  .heading-text {
    font-size: 2.2rem;
  }

  .footer {
    margin-bottom: 10%;
  }
}

