@font-face {
  font-family: 'SFTextBold';
  src: url("/../assets/fonts/SanFranciscoText-Bold.otf");
}

@font-face {
  font-family: 'SFTextRegular';
  src: url("/../assets/fonts/SanFranciscoText-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFTextLight';
  src: url("/../assets/fonts/SanFranciscoText-Light.otf");
}
@font-face {
  font-family: 'DejaVuSans';
  src: url("/../assets/fonts/DejaVuSans.ttf");
}