@import 'timepicker';

.loc-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.thumb {
  color: white;
  width: 100%;
  text-align: center;
  background-color: #2c2e3e;
  font-weight: bold;
}

.thumb:hover {
  background-color: #5867dd;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  cursor: pointer;
}

.crop {
  color: white;
  width: 100%;
  text-align: center;
  background-color: #2c2e3e;
  font-weight: bold;
  margin-top: 5%;
}

.crop:hover {
  background-color: #5867dd;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  cursor: pointer;
}

.cropper-container {
  width: 910px !important;
  height: 350px !important;
}

.m-datatable__pager-nav {
  li {
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.m-datatable__pager-info {
  padding-right: 20px !important;
}

#m_aside_left{
  position: fixed !important;
  height: 100vh !important;
  z-index: 20 !important;
}

.m-wrapper {
  display: block !important;
  width: calc(100% - 300px) !important;
  margin-left: 300px !important;
}