@import "fonts";
@import "variables";
@import "~bulma";
@import "~font-awesome/scss/font-awesome";
@import "perfect-scrollbar";
@import "jquery.fancybox";
@import "~slick-carousel/slick/slick";
@import "burger";
@import 'timepicker';
@import "responsive/res-1366";
@import "responsive/res-1080";
@import "responsive/res-1045";
@import "responsive/res-945";
@import "responsive/res-768";
@import "responsive/res-414";
@import "responsive/res-375";

::-webkit-input-placeholder {
  font-family: SFTextRegular;
}
::-moz-placeholder {
  font-family: SFTextRegular;
}
:-ms-input-placeholder {
  font-family: SFTextRegular;
}
:-moz-placeholder {
  font-family: SFTextRegular;
}

html {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  -webkit-transition: all .4s cubic-bezier(0.29,0.02,0.52,0.93);
  transition: all .4s cubic-bezier(0.29,0.02,0.52,0.93);
  -webkit-transform: none;
  transform: none;
}

.wrapper-slide {
  -webkit-transform: translateX(75%);
  -moz-transform: translateX(75%);
  -ms-transform: translateX(75%);
  -o-transform: translateX(75%);
  transform: translateX(75%);
}

.header {
  width: 95%;
  height: $header-h;
  max-height: $header-h;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  transition: height .5s;
}

.header-up {
  height: 90px;

  .left-nav {
    .logo-container {
      height: 90px;

      .logo {
        width: 70px;
        height: 70px;
      }
    }

    .navigation-container {
      height: 90px;
    }
  }
}

.header-down {
  height: 140px;

  .left-nav {
    .logo-container {
      height: 140px;

      .logo {
        width: 104px;
        height: 104px;
      }
    }

    .navigation-container {
      height: 140px;
    }
  }
}

.left-nav {
  width: 90%;
  display: flex;
  justify-content: baseline;
}

.logo-container {
  //width: 104px;
  width: 170px;
  height: $header-h;
  max-height: $header-h;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  transition: height .5s;
}

.logo {
  width: 104px;
  height: 104px;
  background: url("/../assets/img/logo-r.png") no-repeat center;
  cursor: pointer;
  -webkit-background-size: cover;
  background-size: cover;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.navigation-container {
  height: $header-h;
  max-height: $header-h;
  display: flex;
  justify-content: center;
  flex-direction: column;

  -webkit-transition: height .5s;
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  transition: height .5s;
}

.navigation {
  height: fit-content;
  list-style-type: none;
  overflow: hidden;
}

#working_from {
  border-right: 1px solid lightgray;
}

.ui-timepicker-wrapper {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 9em;
}

.navigation-item {
  float: left;
  margin: 0 1.3em;
  
  a {
    text-decoration: none;
    color: $kaz-text-c;
    font-family: SFTextBold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.1em;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
  }

  a:hover {
    color: $kaz-text-blue-c;
  }

  .selected {
    color: $kaz-text-blue-c;
  }
}

.right-nav {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.language-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .navigation-item {
    a {
      color: #6f6e7a;
      -webkit-transition: color .5s;
      -moz-transition: color .5s;
      -ms-transition: color .5s;
      -o-transition: color .5s;
      transition: color .5s;
    }

    a:hover {
      color: #7190c9;
    }
  }
}

.burger-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn-dropdown-lang {
  border-color: transparent;
}

.dd-lang {
  font-family: SFTextBold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-section {
  width: 100vw;
  height: calc(100vh - #{$header-h});
  border-top: 1px solid $kaz-light-gray-c;
}

.location-main-section {
  display: flex;
  justify-content: center;
  height: unset !important;
}

.map-full-height {
  height: calc(100vh - #{$header-h});
  padding-bottom: 0;
}

.map-up {
  height: calc(100vh - 90px) !important;
}

.map-down {
  height: calc(100vh - #{$header-h}) !important;
}

.res-images-container {
  display: none;
}

#map {
  height: 100%;
  position: relative;
}

#map-app {
  height: 100%;
}

.left-section {
  height: calc(100vh - 140px);
  overflow-y: auto;
}

.filter-container {
  width: 100%;
}

.columns {
  margin: 0;
  padding: 0;
}

.label {
  font-family: SFTextBold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: inherit;
}

.selected-value {
  font-family: SFTextRegular;
}

.dd-wide {
  width: 100%;
  height: 45px;
}

.button-sb {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.btn-dropdown {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.no-padding {
  padding: 0;
}

.filter-input {
  height: 45px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.filter-input-left {
  border-right-style: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.filter-input-right {
  border-left-style: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.content-container {
  width: 100%;
  margin-top: 4%;
  padding: 0 10px;
  display: table;
}

.place {
  width: 50%;
  height: 400px;
  float: left;
  padding-left: 10px;
  margin-bottom: 5.5rem;
}

.place:nth-child(odd) {
  padding-right: 10px;
  padding-left: 10px;
}

.thumbnail {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.place-title {
  margin-top: 10px;
}

.title-sm {
  font-family: SFTextBold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 5px;
}

.place-description {
  margin-top: 5px;
  min-height: 70px;
}

.desc-sm {
  font-family:SFTextRegular;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.place-extra-info {
  margin-top: 40px;
}

.extra-sm {
  font-family:SFTextRegular;
}

.extra-y {
  background-color: #ffd58c;
}

.extra-r {
  background-color: #ef6a6d;
}

.extra-cat {
  height: 100%;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.extra-cat-content {
  font-family:SFTextRegular;
  color: #ffffff;
}

.pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination {
  width: 20%;

  .disabled {
    span {
      color: #6f6e7a;
      font-family: SFTextBold;
      -webkit-font-smoothing: antialiased;
    }
  }

  li {
    a {
      color: #7190c9;
      font-family: SFTextBold;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.dropdown-menu {
  width: 100%;
}

#hidden-location {
  display: none;
}

.location-container {
  width: 65%;
  //height: 500px;
  padding: 1rem;
  //background-color: #e3e3e3;
}

.location-name {
  font-family: SFTextBold;
  color: #312f40;
  font-size: 1.5rem;
  width: 100%;
}

.location-category {
  font-family: SFTextLight;
  //font-weight: 600;
  color: #312f40;
  width: 100%;
}

.location-images-container {
  width: 100%;
  height: 450px;

  .columns {
    height: 100%;

    .column {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.location-image-container {
  height: 40% !important;
  padding: 0 3px 3px 3px !important;
  float: left;
  cursor: pointer;
  //position: relative;
}

.location-main-image {
  height: 100%;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  cursor: pointer;
}

.location-images {
  height: 100%;
}

.location-image {
  height: 100%;
  -webkit-background-size: cover !important;
  background-size: cover !important;
}

.block-container {
  display: block !important;
  //overflow-x: hidden;
  //overflow-y: auto;
  overflow: hidden;
  position: relative;
}

#images-ps-container-mobile {
  display: none !important;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 15px;

  .slick-active {
    background-color: #41ABE5;
    box-shadow: inset 0px 0px 4px #888888;
  }

  li {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 0px 0px 4px #bdbdbd;
    margin-left: 5px;
    margin-right: 5px;

    button {
      opacity: 0;
    }
  }
}

.ps-scrollbar-y {
  //background-color: #adacac !important;
  background-color: blue !important;
  width: 3px !important;
}

.ps-scrollbar-y-rail {
  //right: 0 !important;
  float: right;
  width: 7px !important;
  background-color: red;
}

.ps-scrollbar-x-rail {
  display: none;
}

.location-content-container {
  width: 100%;
}

.location-working-hours {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.wh-container {
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wh {
  font-family: SFTextRegular;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  height: 25px;
}

.wh::before {
  content: '';
  background: url("/../assets/img/working_hours.svg") no-repeat;
  display: flex;
  width: 25px;
  height: 30px;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  margin-right: 10px;
}

.wh-content {
  font-family: SFTextRegular;
  //font-weight: 600;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wh-e {
  width: 20%;
  height: 40px;
}

.youtube-video-content {
  width: 80%;

  a {
    font-family: SFTextRegular;
    color: #7888b1;
    outline: none;
    width: 45%;
  }
}

.location-description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.location-desc-container {
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.desc {
  font-family: SFTextRegular;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  height: 25px;
}

.desc::before {
  content: '';
  background: url("/../assets/img/description.svg") no-repeat;
  display: flex;
  width: 25px;
  height: 25px;
  -webkit-background-size: cover;
  background-size: cover;
  margin-right: 10px;
}

.desc-content {
  width: 80%;
  font-family: SFTextLight;
  //font-weight: 600;
}

.location-read-more {
  font-family: SFTextRegular;
  cursor: pointer;
  color: #7888b1;
  margin-top: 15px;
}

.location-contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.location-contact-container {
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact {
  font-family: SFTextRegular;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  height: 25px;
}

.contact::before {
  content: '';
  background: url("/../assets/img/contact_us.svg") no-repeat;
  display: flex;
  width: 25px;
  height: 25px;
  -webkit-background-size: cover;
  background-size: cover;
  margin-right: 10px;
}

.contact-content {
  width: 80%;
  font-family: SFTextLight;
  //font-weight: 600;
}

.location-communication-languages {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.languages-content {
  width: 80%;
  font-family: SFTextLight;
  //font-weight: 600;
}

.lang {
  margin: 5px 0 5px 0;
}

#location-map {
  width: 100%;
  height: 400px;
}

.footer {
  width: 100%;
  height: 250px;
  background-color: #171718;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

.footer-container {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-logo-container {
  width: 10%;
  width: 104px;
  height: $header-h;
  max-height: $header-h;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.footer-logo {
  width: 100px;
  height: 100px;
  background: url("/../assets/img/logo-footer.png") no-repeat center;
  cursor: pointer;
}

.footer-copyright-container {
  width: 30%;
  height: $header-h;
  max-height: $header-h;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-mailbox-container {
  width: 50%;
  height: $header-h;
  max-height: $header-h;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-mailbox {
  width: 280px;
  height: 40px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #454546;
  background: transparent;
  padding: 0 2.8rem 0 1rem;
  font-family: SFTextRegular;
  font-size: .85rem;
  background: url(/../assets/img/message.png) no-repeat right scroll;
  background-position-x: 95%;
  color: #979797;
}

.footer-socials-container {
  width: 10%;
  height: $header-h;
  max-height: $header-h;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-socials {
  height: fit-content;
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.loader-container {
  width: 100vw;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 100;
  display: flex;
  left: 0;
  height: 100vh;
  top: 0;
  background: lightgray;
  justify-content: center;
}

.burger-container {
  display: none;
}

.vue-loading-box {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
}