$aside-width: 75%;

.menu-button {
  display: block;
  position: relative;
  margin: 40px .5em;
  cursor: pointer;
  height: 17px;

  span {
    display: block;
    background: #6f6e7a;
    height: 2px;
    width: 25px;
    position: absolute;
    transition: all 0.5s ease;
  }

  span:nth-child(1) { top: 1px; }
  span:nth-child(2) { top: 8px; }
  span:nth-child(3) { top: 16px; }

  .transparent { opacity:0;}
  .rotate-top {
    transform: rotatez(45deg);
    -webkit-transform-origin: 0%; left:2px
  }
  .rotate-bottom {
    transform: rotatez(-45deg);
    -webkit-transform-origin: 15%;
  }
}

aside {
  transform: translate3d(100%, 0, 0);
  transition: transform 500ms ease 0s;

  width: $aside-width;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  //background-color: lightgray;
  background-color: #171718;
  z-index: 1000;

  display: flex;
  justify-content: center;
  flex-direction: column;

  -webkit-transition: all .4s cubic-bezier(0.29,0.02,0.52,0.93);
  transition: all .4s cubic-bezier(0.29,0.02,0.52,0.93);
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}

.aside-slide {
  -webkit-transform: translateX(-135%) !important;
  transform: translateX(-135%) !important;
}

.burger-menu {
  text-align: center;
  text-decoration: none;
}

.navigation-burger-menu {
  top: 1rem;
  position: absolute;
  width: 100%;
  text-align: center;

  .burger-menu-item:first-child {
    margin-top: 10px !important;
  }
}

.burger-menu-item {
  margin: 20px 0;

  a {
    text-decoration: none;
    //color: #6f6e7a;
    color: #96959e;
    font-family: SFTextBold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.1em;
  }
}

.burger-menu-item-socials {
  bottom: 13vh;
  position: absolute;
  width: 100%;
  text-align: center;

  a {
    margin: 0 5px;

    img {
      height: 20px;
    }
  }
}