@import "fonts";

html {
  min-height: 100%;
}

body {
  background: url("/../assets/img/background.png") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  //height: 100px;
  //margin-top: 50px;
  height: 90px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  cursor: pointer;
  background: url("/../assets/img/logo.png") no-repeat center;
  -webkit-background-size: auto;
  background-size: auto;
  width: 90px;
  height: 90px;
}

.logo {
  display: flex;
  width: calc(50% + 90px);
  justify-content: flex-end;
}

.social {
  width: 50%;
  height: 90px;
  display: flex;
  justify-content: flex-end;
}

.social-item {
  position: relative;
  top: 40%;
  margin: 0 10px;
  height: fit-content;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.selected-language {
  text-align: center;
  font-family: DejaVuSans;
}

.language {
  position: relative;
  top: 35%;
  margin: 0 10px;
  width: 70px;
  height:25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  color: white;
}

.social-item:hover {
  -webkit-transform: scale(1.5, 1.3);
  -moz-transform: scale(1.5, 1.3);
  -ms-transform: scale(1.5, 1.3);
  -o-transform: scale(1.5, 1.3);
  transform: scale(1.5, 1.3);
}

.heading {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 6%;
  height: 120px;
}

.heading-text {
  color: white;
  width: fit-content;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-size: 3.2rem;
}

.heading-bold {
  font-family: SFTextBold;
}

.heading-regular {
  font-family: SFTextRegular;
}

.description {
  color: white;
  font-family: SFTextLight;
  font-size: .8rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.description-content {
  max-width: 700px;
  line-height: 1.8;
  font-size: .8rem;
  font-family: DejaVuSans;
}

.footer {
  height: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 3%;
}

.footer-content {
  background: url("/../assets/img/download.png") no-repeat center;
  height: 45px;
  -webkit-background-size: contain;
  background-size: contain;
  cursor: pointer;
}

@media all and (max-width: 1366px) {
  .heading {
    margin-top: 0;
  }

  .description-content {
    max-width: 680px;
  }
}

@media all and (max-width: 1024px) {
  .logo {
    justify-content: flex-start;
  }

  .footer {
    margin-bottom: 5%;
  }
}

@media all and (max-width: 320px) {
  .container {
    width: 95%;
  }

  .navbar {
    margin-top: 20px;
  }

  .logo-container {
    width: 70px;
    height: 70px;
    -webkit-background-size: contain;
    background-size: contain;
  }

  .description {
    width: 100%;

    .description-content {
      width: 100%;
      font-size: .75rem;
    }
  }

  .social-item {
    top: 30%;
  }

  .language {
    top: 30%;
  }

  .heading {
    margin-top: -35px;
  }

  .heading-text {
    font-size: 2.2rem;
  }

  .footer {
    margin-bottom: 10%;
  }
}