@font-face {
    font-family: 'SFTextBold';
    src: url("../fonts/SanFranciscoText-Bold.otf");
}

@font-face {
    font-family: 'SFTextRegular';
    src: url("../fonts/SanFranciscoText-Regular.otf");
}

@font-face {
    font-family: 'SFTextLight';
    src: url("../fonts/SanFranciscoText-Light.otf");
}

html {
    min-height: 100%;
}

body {
    background: url("../img/background.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    height: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    cursor: pointer;
    background: url("../img/logo.png") no-repeat center;
    -webkit-background-size: auto;
    background-size: auto;
    width: 90px;
    height: 90px;
}

.logo {
    display: flex;
    width: calc(50% + 90px);
    justify-content: flex-end;
}

.social {
    width: 50%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
}

.social-item {
    position: relative;
    top: 40%;
    margin: 0 10px;
    height: fit-content;
}

.heading {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 6%;
}

.heading-text {
    color: white;
    width: fit-content;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-size: 3.5rem;
}

.heading-bold {
    font-family: SFTextBold;
}

.heading-regular {
    font-family: SFTextRegular;
}

.description {
    color: white;
    font-family: SFTextLight;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.description-content {
    max-width: 700px;
}

.footer {
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 3%;
}

.footer-content {
    background: url("../img/download.png") no-repeat center;
    height: 45px;
    -webkit-background-size: contain;
    background-size: contain;
    cursor: pointer;
}

@media all and (max-width: 1366px) {
    .heading {
        margin-top: 0;
    }

    .description-content {
        max-width: 680px;
    }
}

@media all and (max-width: 1024px) {
    .logo {
        justify-content: flex-start;
    }

    .footer {
        margin-bottom: 5%;
    }
}

@media all and (max-width: 320px) {
    .navbar {
        margin-top: 20px;
    }

    .logo-container {
        width: 70px;
        height: 70px;
        -webkit-background-size: contain;
        background-size: contain;
    }

    .social-item {
        top: 30%;
    }

    .heading {
        margin-top: 0;
    }

    .heading-text {
        font-size: 2.2rem;
    }

    .footer {
        margin-bottom: 10%;
    }
}