@media all and (max-width: 1045px) {
  .title-sm {
    font-size: .85rem;
  }

  .desc-sm {
    font-size: .8rem;
  }

  .extra-sm {
    font-size: .85rem;
  }

  .place-title {
    overflow: hidden;
    word-break: break-all;
  }
}