@media all and (max-width: 1366px) {
  .location-images-container {
    height: 360px !important;
  }

  .desc {
    font-size: .9rem;
  }

  .wh {
    font-size: .9rem;
  }

  .wh-content {
    font-size: .8rem;
  }

  .contact {
    font-size: .9rem;
  }

  .desc-span-container {
    span {
      p {
        font-family: SFTextRegular !important;
        font-size: .8rem !important;
      }
    }
  }

  .additional-services-span-container {
    span {
      p {
        font-family: SFTextRegular !important;
        font-size: .8rem !important;
      }
    }
  }

  .location-read-more {
    font-size: .9rem;
  }

  .showContact {
    a {
      font-size: .9rem;
    }
  }

  .languages-content {
    .lang {
      font-size: .8rem;
    }
  }
}