@media all and (max-width: 414px) {
  .main-section {
    height: 100% !important;

    .columns {
      height: 100% !important;

      .left-section {
        height: 100% !important;
      }

      .map-full-height {
        display: none !important;
      }
    }
  }

  .place {
    width: 100% !important;
    height: 500px !important;
    margin-bottom: 0 !important;
    padding-top: 0;

    .place-extra-info {
      margin-top: 0;

      .columns {
        .column {
          .extra-cat {
            width: 100%;
            height: 35px;
          }
        }
      }
    }
  }

  .place:last-child {
    margin-bottom: 15px !important;
  }

  .extra-cat {
    display: none;
  }

  .location-working-hours {
    display: block !important;
  }

  .wh-container {
    width: 100% !important;
    margin-bottom: 10px;
  }

  .extra-cat {
    width: 100% !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .wh-content {
    width: 100% !important;
  }

  .location-description {
    display: block !important;
  }

  .location-desc-container {
    width: 100% !important;
    margin-bottom: 10px;
  }

  .desc-content {
    width: 100% !important;
    //text-align: center;
  }

  .location-contact {
    display: block !important;
  }

  .location-contact-container {
    width: 100% !important;
    margin-bottom: 10px;
  }

  .contact-content {
    width: 100% !important;
    //text-align: center;
  }

  .location-communication-languages {
    display: block !important;
  }

  .languages-content {
    width: 100% !important;
    //text-align: center;
  }

  .location-container {
    width: 100% !important;
  }

  .location-images-container {
    width: 100% !important;
    height: unset !important;
  }

  #images-ps-container-mobile {
    width: 100vw !important;
    display: block !important;
  }

  .location-image {
    display: block !important;
    height: 180px !important;
  }
}

