@media all and (max-width: 768px) {
  .header {
    height: 70px !important;
  }

  .left-nav {
    width: 95% !important;
    display: flex !important;
    justify-content: space-between !important;
  }

  .menu-button {
    margin: 0 .5em;
  }

  .logo-container {
    width: unset !important;
    height: 70px !important;
  }

  .right-nav {
    width: 5% !important;
  }

  .logo {
    height: 60px !important;
    -webkit-background-size: contain !important;
    background-size: contain !important;
  }

  .burger-container {
    display: flex !important;
  }

  .working_hours_filter_container {
    .columns {
      display: flex;
      justify-content: space-between;
    }

    .column {
      width: 50%;
    }
  }

  .btn-dropdown {
    padding: 10px;
  }

  .navigation {
    display: none;
  }

  .main-images-column {
    display: none;
  }

  .thumbnails-column {
    height: 100%;
  }

  .location-container {
    width: 100%;
  }

  .extra-cat {
    width: 40%;
  }

  .wh-content {
    width: 20%;
  }

  .desc-content {
    width: 70%;
  }

  .contact-content {
    width: 70%;
  }

  .languages-content {
    width: 70%;
  }

  .footer-mailbox-container {
    display: none !important;
  }

  //.footer-socials-container {
  //  width: 30%;
  //}

  .full-location-image-con {
    display: none;
  }

  .res-images-container {
    display: block;
    height: 180px;
  }

  .location-images-container {
    height: unset;
  }

  .block-container {
    overflow: unset !important;
  }

  .full-location-main-image-slideshop {
    display: none;
  }

  #images-ps-container-mobile {
    display: block !important;
  }

  #images-ps-container {
    display: none !important;
  }

  .footer {
    height: 200px;
  }

  .footer-container {
    width: unset;
  }

  .footer-copyright-container {
    width: unset;
  }

  .footer-socials-container {
    display: none !important;
  }

  .slick-active {
    width:100vw;
  }

  #images-ps-container-mobile {
    width: 100vw;
  }

  .location-images-container {
    display: flex;
    justify-content: center;
  }
}